.workExperienceContainer {
  width: 90%;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 10px;
  background: #eaf2fa;
}

.cardsDiv {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 767px) {
  .workExperienceContainer {
    width: 100%; /* Make the container take up the full width of the screen */
    margin: 10px 0; /* Adjust margin for better spacing */
    box-shadow: none; /* Remove box-shadow for simplicity on small screens */
  }

  .cardsDiv {
    flex-direction: column; /* Stack cards vertically on small screens */
    align-items: center; /* Center-align cards */
  }
}
